<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Account Home</title>
</head>
<body>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam architecto consectetur ipsum laborum libero obcaecati porro praesentium, provident sint tenetur? Aliquam aspernatur consectetur debitis deleniti distinctio, eos est impedit. Sapiente!</p>

<h3><a th:href="@{/register}">Register</a></h3>
<h3><a th:href="@{/login}">Login</a></h3>
</body>
</html>